<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/default.css">
</head>
<body>
  <div class="container">Welcome</div>
  <section class="vpad-50 accent">
    <div class="container">
      <div class="row">
        <div class="col-md-5 map-sibling"></div>
        <!-- <div class="col-md-1"></div> -->
                <!-- buffer -->
        <div class="col-md-7 map-boundary">
          <div id="map"></div>
        </div>  
      </div>
    </div>
  </section>
  <div class="container">Photo Browser</div>
  <script src="/scripts/map.js"></script>
  <script>    
    //TODO safety check
    var trails = JSON.parse('<%- trail_locations%>');
    var locations = JSON.parse('<%- locations%>');
    </script>
    <!-- TODO: With ES6, js can now import js -->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= gmaps_api_key%>&callback=initMap">
    </script>
  </body>
  </html>